<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if title}} {{ siteTitle }} | {{/if}} {{ sitename }}</title>

  <meta name="description" content="{{ siteDescription }}">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="H_a4F0EDeG8NhUvCRWRJM3dtoWAlam-1bLt6kz33vvE" />

  <link rel="shortcut icon" href="{{link 'favicon.ico'}}" type="image/x-icon" />

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700|Sanchez" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{link 'styles/main.min.css'}}">
  <script src="{{link 'js/main.min.js'}}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
  <div class="container">
    <div class="row">
